[submodule "submodules/three.js"]
	path = submodules/three.js
	url = https://github.com/bhouston/three.js.git
	branch = ssgi-traa-redesign
	ignore = dirty
[submodule "submodules/three-gpu-pathtracer"]
	path = submodules/three-gpu-pathtracer
	url = https://github.com/bhouston/three-gpu-pathtracer.git
	shallow = true
	ignore = dirty
	branch = ss-fidelity
[submodule "submodules/fidelity-kit-blender"]
	path = submodules/fidelity-kit-blender
	url = git@github.com:bhouston/fidelity-kit-blender.git
[submodule "submodules/fidelity-kit-three-gpu-pathtracer"]
	path = submodules/fidelity-kit-three-gpu-pathtracer
	url = git@github.com:bhouston/fidelity-kit-three-gpu-pathtracer.git
[submodule "submodules/performance-kit"]
	path = submodules/performance-kit
	url = https://github.com/bhouston/performance-kit.git
