[submodule "submodules/three.js"]
	path = submodules/three.js
	url = https://github.com/bhouston/three.js.git
	branch = ssgi-traa-redesign
	ignore = dirty
[submodule "submodules/three-gpu-pathtracer"]
	path = submodules/three-gpu-pathtracer
	url = https://github.com/bhouston/three-gpu-pathtracer.git
	shallow = true
	ignore = dirty
	branch = ss-fidelity
[submodule "submodules/fidelity-kit-blender"]
	path = submodules/fidelity-kit-blender
	url = git@github.com:bhouston/fidelity-kit-blender.git
[submodule "submodules/fidelity-kit-three-gpu-pathtracer"]
	path = submodules/fidelity-kit-three-gpu-pathtracer
	url = git@github.com:bhouston/fidelity-kit-three-gpu-pathtracer.git
[submodule "submodules/fidelity-kit"]
	path = submodules/fidelity-kit
	url = git@github.com:bhouston/fidelity-kit.git

[submodule "submodules/glTF-Sample-Assets"]
	path = submodules/glTF-Sample-Assets
	url = https://github.com/KhronosGroup/glTF-Sample-Assets.git
	ignore = dirty

[submodule "submodules/3d-demo-data"]
	path = submodules/3d-demo-data
	url = https://github.com/gkjohnson/3d-demo-data.git
	ignore = dirty

[submodule "submodules/ldraw-parts-library"]
	path = submodules/ldraw-parts-library
	url = https://github.com/gkjohnson/ldraw-parts-library.git
	ignore = dirty
